<section class='list-category-posts'>
{% for cat in site.categories %}
{% assign category = cat[0] %}
{% if category != include.category %}

{% assign check = false %}
{% for post in site.categories.[category] %}
{% if post.categories[0] == include.category %}
{% assign check = true %}
{% endif %}
{% endfor %}

{% if check %}
<h3>{{ category }}</h3>
<ul>
{% for post in site.categories.[category] %}
{% if post.categories[0] == include.category %}
    <li><a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% endif %}

{% endif %}
{% endfor %}
</section>