nav {
    .flex-parent {
        margin-top: 0;
        .flex-child {
            @extend .font-h2;
            //
            text-align: center;
            padding: 1px 2px;
            //
            a {
                background: #302833;
                display: block;
                padding: 12px;
                text-decoration: none;
                color: white;
                //
                :hover {
                    background: #544a47;
                }
            }
        }
    }
}